@model AS.ToolKit.Web.ViewModels.SelectableItemViewModel

<a href="@Model.Hyperlink" class="list-group-item">
    <h4 class="list-group-item-heading">@Model.Heading</h4>
    <p class="list-group-item-text">@Model.Text</p>
</a>

