@{
    ViewBag.Title = "Home";
}

<div class="container-fluid metro">
    <div class="row-fluid">
        <div class="span12">
            <a class="tile wide app" href="@Url.Action("Periods", "Shopping")">
                <div class="image-wrapper">
                    <img src="/Content/img/ShoppingLogo.png" alt=""/>
                </div>
                <div class="app-label">Shopping Calculator</div>
                <div class="app-count"></div>
            </a>
        </div>
    </div>
</div>
