<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alt.Composition.Extended" version="1.1.13" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.Composition" version="1.0.17" targetFramework="net45" />
</packages>