@model AS.ToolKit.Web.ViewModels.AlertMessage

<div class="alert @Model.TypeCss alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>@Model.Heading</strong> @Model.Text
</div>
