@{
    ViewBag.Section = "Home";
    ViewBag.Title = "ToolKit";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Showcasing useful, responsive web applications built in the latest technologies and following best practices.</p>
</div>
