<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css' />
    <link href="@Styles.Url("~/Content/css/bootstrap")" rel="stylesheet" type="text/css" media="screen, print" />
</head>
    <body>
        @RenderBody()
    </body>
</html>